{% extends 'weevils/base1.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block base %}

    {% include "weevils/navbar.html" %}

            <div class="container-fluid " style="background-image: url({{field.image.url}});background-attachment:fixed; object-fit: cover; font-family:Arial, Helvetica, sans-serif;">
                <div class="display-4 mx-auto text-center pb-2">{{field.name|title}}</div>
                <div class=" d-flex flex-row justify-content-evenly w-100" style="height: 100vh;">
                    
                        {% for sub_field in field.subfields.all %}
                            <div class="">
                                <div class="card  bg-dark border border-primary" style="width: 20rem;">
                                    <div class="card-header display-6">
                                      {{ sub_field }}
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text display-6 pb-2">{{sub_field.description}}</p>
                                    <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#{{ sub_field.id }}">
                                        See Mentors
                                    </a>
                                    </div>
                                </div>
                                
                                <div class="modal fade text-dark" id="{{ sub_field.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ sub_field.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title " id="{{ sub_field.id }}Label" style=" font-size: 25px;">{{ sub_field }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body list-group-flush p-4" style="overflow-y: auto; height: 200px;">
                                                <!-- Add mentor names here -->
                                                {% for mentor in sub_field.mentors.all %}
                                                    <li class="list-group-item">
                                                        <div class="card mb-3" style=" font-size: 18px;">
                                                            <div class="row g-0">
                                                              <div class="col-md-4 py-2 ps-4">
                                                                {% if mentor.image %}
                                                                    <img src="{{ mentor.image.url }}" class="img-fluid rounded-circle" alt="...">
                                                                {% else %}
                                                                    <img src="{% static 'img/dp.png' %}" class="img-fluid rounded-circle" alt="...">
                                                                {% endif %}
                                                              </div>
                                                              <div class="col-md-8">
                                                                <div class="card-body">
                                                                  <h5 class="card-title">{{ mentor }}</h5>
                                                                    <p class="card-text pb-1">{{ mentor.bio|slice:":50" }}...</p>
                                                                  <div class="card-footer w-100" style="background: transparent;">
                                                                    <div class="d-flex flex-row justify-content-between">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#233a61" d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/></svg>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="27" width="27" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#253b5f" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#22385e" d="M192 0C139 0 96 43 96 96V256c0 53 43 96 96 96s96-43 96-96V96c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 89.1 66.2 162.7 152 174.4V464H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H216V430.4c85.8-11.7 152-85.3 152-174.4V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 70.7-57.3 128-128 128s-128-57.3-128-128V216z"/></svg>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        
                                                    </li>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}
                </div>
            </div>
 
{% endblock %}