{% extends "weevils/base1.html" %}

{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block base %}
<div class="main-wrapper">
    <main>
        <div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title display-4" id="offcanvasExampleLabel">All Fields</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body fs-4">
              <div class="bg-dark text-light">
                <ul class="list-group list-group-flush bg-dark text-light ">
                    {% for ment in ments %}
                    <a href="#" class="list-group-item list-group-item-primary list-group-item-action bg-dark text-light d-flex justify-content-between align-items-start text-break">
                        {{ment.name}}
                    </a>
                    {% endfor %}
                </ul>
              </div>
              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="offcanvas" aria-label="Close">Back</button>
                <a href="{% url 'weevils:home' %}"><button type="button" class="btn btn-outline-primary">Home</button></a>
              </div>
            </div>
          </div>
        <ul class='slider'>
            {% for ment in ments %}
            <li class='item' style="background-image: url({{ment.image.url}})">
                <div class='content bg-dark text-light rounded p-5'>
                  <h2 class='title'>{{ment.name}}</h2>
                  <p class='description '>
                    <!-- A random testimonial from one of the fields -->
                    Place holder text
                  </p>
                  <a href="{% url 'mentorship:field' ment.id %}"><button type="button">Read More</button></a>
                </div>
              </li>
            {% endfor %}
          </ul>
          <nav class='navy'>
            <ion-icon class='btn prev ' name="arrow-back-outline"> <i class="fa-solid fa-angle-left fa-2xl d-flex align-items-center justify-content-center h-100"></i></ion-icon>
            <ion-icon class='btn next  ' name="arrow-forward-outline"><i class="fa-solid fa-angle-right fa-2xl d-flex align-items-center justify-content-center h-100"></i></ion-icon>
            <a href="{% url 'weevils:home' %}"><div class="btn"><i class="fa-solid fa-house fa-2xl d-flex align-items-center justify-content-center w-100 h-100"></i></div></a>
            <button title="offcanvas" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
          </nav>
    </main>
</div>
{% endblock %}