/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/
html {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
  }
  
  body {
    background: #000000;
    font: 400 12px/1.8 "Open Sans", sans-serif;
    color: #fffcfc;
    -webkit-font-smoothing: antialiased;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  iframe {
    border: 0;
  }
  
  .align-center {
    text-align: center;
  }
  
  .align-left {
    text-align: left !important;
  }
  
  .position-relative {
    position: relative;
  }
  
  .leftauto {
    right: 0 !important;
    left: auto !important;
  }
  
  /* Transition elsements */
  a,
  .btn {
    transition: all 0.125s ease-in-out 0s;
  }
  
  .client-logo,
  .gallery-caption,
  .gallery-image:after,
  .gallery-image img,
  .price-table,
  .team-detail,
  .team-image:after,
  .work-caption,
  .work-image > img,
  .work-image:after,
  .post-thumbnail,
  .post-video,
  .post-images-slider {
    transition: all 0.3s ease-in-out 0s;
  }
  
  /* Reset box-shadow */
  .btn,
  .well,
  .panel,
  .progress,
  .form-control,
  .form-control:hover,
  .form-control:focus,
  .navbar-custom .dropdown-menu {
    box-shadow: none;
  }
  
  /* Reset border-radius */
  .well,
  .label,
  .alert,
  .progress,
  .form-control,
  .modal-content,
  .panel-heading,
  .panel-group .panel,
  .nav-tabs > li > a,
  .nav-pills > li > a {
    border-radius: 2px;
  }
  
  .pr-remove {
    /*vertical-align: middle !important;*/
    text-align: center;
  }
  
  .examples {
    border-radius: 2px;
    padding: 7px 5px;
    margin: 0 0 40px;
  }
  
  .examples.bg-dark {
    background: #333;
    border: 0;
  }
  
  .et-icons .box1 {
    border: 1px solid #e5e5e5;
    display: block;
    width: 25%;
    float: left;
    padding: 0;
    font-size: 13px;
    margin: -1px 0 0 -1px;
  }
  
  .et-icons .box1 > span {
    display: inline-block;
    border-right: 1px solid #e5e5e5;
    min-width: 60px;
    min-height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    margin-right: 5px;
  }
  
  .fa-icons > div {
    padding: 0;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    font-size: 13px;
  }
  
  .fa-icons > div > i {
    display: inline-block;
    margin-right: 5px;
    min-width: 40px;
    min-height: 40px;
    border-right: 1px solid #f1f1f1;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }
  
  .help-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sections */
  .navbar-custom + .main {
    margin-top: 50px;
  }
  
  .main {
    position: relative;
    background-color: #fff;
    z-index: 1;
  }
  
  .module,
  .module-small {
    position: relative;
    padding: 140px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  /* Module header */
  .module-small {
    padding: 70px 0;
  }
  
  .module-extra-small {
    padding: 25px 0px;
  }
  
  .module-medium {
    padding: 75px 0px;
  }
  
  .holder-w {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 1px;
    width: 50%;
  }
  
  .holder-w:before {
    border-top: 1px solid #eaeaea;
    position: relative;
    display: block;
    content: "";
    top: 1px;
    height: 1px;
    width: 100%;
  }
  
  
  /* Half-image */
  
  
  /*--------------------------------------------------------------
      Buttons
  --------------------------------------------------------------*/
  .btn {
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 8px 37px;
  }
  
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn:active:focus,
  .btn:focus {
    outline: 0;
  }
  
  .btn.btn-round {
    border-radius: 2px;
  }
  
  .btn.btn-circle {
    border-radius: 30px;
  }
  
  .btn.btn-w {
    background: rgba(255, 255, 255, 0.8);
    color: #111;
  }
  
  .btn.btn-w:hover,
  .btn.btn-w:focus {
    background: white;
    color: #111;
  }
  
  .btn.btn-g {
    background: #e5e5e5;
    color: #111;
  }
  
  .btn.btn-g:hover,
  .btn.btn-g:focus {
    background: #d8d8d8;
    color: #111;
  }
  
  .btn.btn-border-w {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #fff;
  }
  
  .btn.btn-border-w:hover,
  .btn.btn-border-w:focus {
    background: #fff;
    border-color: transparent;
    color: #111;
  }
  
  .btn.btn-d {
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
  }
  
  .btn.btn-d:hover,
  .btn.btn-d:focus {
    background: #111111;
  }
  
  .btn.btn-b {
    background: #111111;
    color: #fff;
  }
  
  .btn.btn-b:hover,
  .btn.btn-b:focus {
    background: rgba(17, 17, 17, 0.8);
  }
  
  .btn-border-d {
    background: transparent;
    border: 1px solid #111111;
    color: #111;
  }
  
  .btn.btn-border-d:hover,
  .btn.btn-border-d:focus {
    background: #111111;
    color: #fff;
  }
  
  .btn.btn-font-w {
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
  }
  
  .btn.btn-font-w:hover {
    background: #fff;
    color: #111;
  }
  
  
  .image-button {
    margin: 0px 5px;
  }
  .home-section {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    background-size: cover;
  }
  
  /*--------------------------------------------------------------
      Forms
  --------------------------------------------------------------*/
  form.auth{
    height: 600px;
    width: 450px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    -webkit-backdrop-filter:blur(10px) ;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 50px 35px;
}
form *{
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button.auth{
    margin-top: 14px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    }
button.auth:hover{

    transition: all .3s ease-in-out; 
    background-color: #0d3394;
    color: #ffffff;
}

  
  /*--------------------------------------------------------------
      Navbar
  --------------------------------------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

.header {
  width: 100%;
  border-bottom: 1px solid rgb(255, 254, 254);
  text-align: right;
  position: relative;
}
.btn-grp{
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
}
.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
    /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

 
  
.events #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
          animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
.events #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
.events #user-button .u-main {
  cursor: pointer;
  --user-button-background:var(--user-button-main, #EC87C0);
}
.events #user-button .u-main img {
  height: 100%;
  width: 100%;
}
.events #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
.events #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
.events #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.events #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
.events #user-button .u-icons a[href="https://twitter.com/zed_dash"] {
  position: relative;
}
.events #user-button .u-icons a[href="https://twitter.com/zed_dash"]:before {
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.events #user-button .u-icons a[href="https://twitter.com/zed_dash"].show:before {
  opacity: 1;
  transition: 0.25s ease-out;
}
.events #user-button .u-icons a[href="https://twitter.com/zed_dash"] div {
  color: #1da1f2;
}
.events #user-button .u-icons a[href="https://codepen.io/z-"] div {
  background: black;
  color: white;
}
.events #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
          animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.events #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.events #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
.events #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.events #user-button .u-icons > *:hover, .events #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
.events #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1), .events #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1), .events #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2), .events #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1), .events #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2), .events #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3), .events #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1), .events #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2), .events #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3), .events #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.events #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4), .events #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.events #user-button:hover .u-icons, .events #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}
.events.dark {
  background: #232223;
  color: white;
}
@media (prefers-color-scheme: dark) {
  .events:not(.light) {
    background: #232223;
    color: white;
  }
}
.events .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.events .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .events .options {
    min-width: 520px;
  }
  .events .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .events .options {
    min-width: 440px;
  }
  .events .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .events .options {
    min-width: 360px;
  }
  .events .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .events .options {
    min-width: 280px;
  }
  .events .options .option:nth-child(2) {
    display: none;
  }
}
.events .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.events .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
.events .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
.events .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
.events .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
.events .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
.events .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
.events .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.events .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.events .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.events .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.events .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.events .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.events .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.events .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.events .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.events .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.events .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.events .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.events .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.events .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.events .options .option .label .info .sub {
  transition-delay: 0.1s;
}

header.site-navbar{
  position:sticky;
}
  
.cardi {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardi svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardi>img{
  position: absolute;
  bottom:25%;
}
.cardi>.card__label{
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 5px;
  bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.cardi:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardi:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.cardi:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* carousel */

.main-wrapper{
 
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
  
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);

  &* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}


.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  &:nth-child(7){ display: none; }
  &:nth-child(8){ display: none; }
  &:nth-child(9){ display: none; }
  &:nth-child(10){ display: none; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 1026px) {
    .description,button{
        display: none;
    }
}

  & button {
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.navy {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;

  & .btn {
    background-color: rgba(19, 2, 2, 0.5);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}

/* radio */
.radio-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  position: relative;
  align-items: center;
  color: white;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateZ(-25px);
  transition: all 0.3s ease-in-out;
}

.radio::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio {
  border-color: #0019fd;
  transform: translateZ(0px);
  background-color: #fff;
}

.radio-button input[type="radio"]:checked + .radio::before {
  opacity: 1;
}
