{% extends 'weevils/base1.html' %}
<!-- html page to show both verified and unverified members -->
{% block base %}

<div class="row">
{% for member in members %}
    {% if member.profile.verified %}
        <div class="col rounded-3 p-4 text-white  border border-secondary">
            <div class="card w-50" style="border-radius: 1rem;">
                <div class="card-header text-dark display-6">
                    {{member.name}}  
                </div>
                <div class="card-body text-dark">
                    Verified member
                </div>
            </div> 
        </div>
    {% else %}
        <div class="col rounded-3 p-4 border border-secondary">
            <div class="card w-50" style="border-radius: 1rem;">
                <div class="card-header text-dark display-6">
                    {{member.name}}  
                </div>
                <div class="card-body">
                    <a href="{% url 'users:add_member' member.id %}">
                        <div class="btn btn-primary">
                            add verification
                        </div>   
                    </a>
                </div>
            </div>
             
            
        </div>
    {% endif %}

{% endfor %}
</div>


{% endblock %}