{% extends "weevils/base1.html" %}

{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block base %}
    <br>
    <div class="home-section container border border-dark p-4 mx-auto text-light" style="border-radius: 10px;" data-background="{% static 'img\Picsart_24-04-20_12-35-00-484.jpg' %}" >
        <div class=" display-5 "><h1>Create your profile</h1></div><br>
        <form  action="{% url 'users:edit_profile' %}" enctype="multipart/form-data" method="POST" >
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' %}
            
            <div class="d-flex flex-row">
              <div>
                <label class="radio-button">
                  <input type="radio" name="example-radio" value="public">
                  <span class="radio"></span>
                  Public Profile
                </label>
                
                <label class="radio-button">
                  <input type="radio" name="example-radio" value="private">
                  <span class="radio"></span>
                  Private Profile
                </label>
              </div>

            </div>
            <button class="auth w-100 rounded-pill" style="font-size: 20px;" type="submit">Save and Request Approval</button>
        </form>
    </div>
{% endblock %}