{% extends "weevils/base1.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block base %}
<section class="vh-90" style="background-color: #000000;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'img/sample.jpg' %}"
                  alt="login form" class="img-fluid w-100 h-100" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex flex-column align-items-center">
                <div class="card-header p-4 w-100 display-5 text-black">
                  <p style="color: rgb(9, 68, 215);">Smackists</p> DUC IN ALTUM
                </div>
                <div class="card-body p-3 p-lg-4 text-black">                      
                  <div role="tabpanel">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                      <li class="active"><a href="#signup" data-toggle="tab"><span class="icon-paperclip"></span>SignUp</a></li>
                      <li><a href="#signin" data-toggle="tab"><span class="icon-lightbulb"></span>Sign in</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="signup">
                        <div class="row">
                          <div class="btn-grp">
                            <div class="col ">
                              <br>
                              <a href="{% url 'users:register' %}" style="text-decoration: none;">
                                <button class="oauthButton">
                                  <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"  viewBox="0 0 125 100">
                                    <path d="M60,0 l50,0 a10,10 0 0,1 7,17 l-50,50 a10,10 0 0,1 -13,0 l-50,-50 a10,10 0 0,1 7,-17z" stroke="#000" stroke-width="0" fill="#000" />
                                    <path d="M60,90 l54,0 a10,10 0 0,0 7,-7 l0,-60 -50,50 a15,15 0 0,1 -21,0 l-50,-50 0,60 a10,10 0 0,0 7,7z" stroke="#000" stroke-width="0" fill="#000" />  
                                  </svg>
                                    Continue with Email
                                </button>
                              </a>
                              <br>
                              <button class="oauthButton">
                                        <svg class="icon" viewBox="0 0 24 24">
                                <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"></path>
                                <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"></path>
                                <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"></path>
                                <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"></path>
                                <path d="M1 1h22v22H1z" fill="none"></path>
                              </svg>
                                Continue with Google
                              </button>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="tab-pane" id="signin">
                        <form action="{% url 'users:login' %}" method="POST">
                          {% csrf_token %}
                          {% bootstrap_form form layout='inline' %}
                          <button class="auth" type="submit">Login</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}