{% extends "weevils/base1.html" %}

{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block base %}
    <br>
    <div class="container border p-4 mx-auto">
        <div class=" display-5 "><h1>Your profile</h1></div><br>
        {# Display user profile #}
        <h1>{{user.name}}</h1>
        <br>
        <h1>Cohort:</h1>
        <h1>{{user.profile.cohort.cohort_name}}</h1>
    
    </div>
{% endblock %}