{% extends "weevils/base1.html" %}
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block base %}

<form action="{% url 'users:register' %}" class="auth home-section " method="POST" data-background="{% static 'img\Picsart_24-04-20_12-35-00-484.jpg' %}">
    <h3>Sign Up Here</h3>
    {% csrf_token %}
    {% bootstrap_form form layout='vertical' %}
    <button class="auth" type="submit">Save and continue</button>
</form>
{% endblock %}