<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link href="{% static 'lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    
    <!-- required for the styles to work -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'css/colors/default.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
<link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar-style.css' %}">

    
    <title>Weevils</title>
</head>
<body>
    {% if messages %} {% for message in messages %}
    <div style="position: absolute;
        left: 50%; width: 300px;
        border: yellowgreen ;
        background-image: repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
        background-size: 65px 65px;
        z-index: 1002;">
        <div class="alert  text-warning alert-dismissible" role="alert" data-bs-theme="dark">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {{ message }}
        </div>
    </div>
{% endfor %} {% endif %}

    {% block base %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'lib/jquery/dist/jquery.js'%}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'lib/wow/dist/wow.js'%}"></script>
    <script src="{% static 'lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js'%}"></script>
    <script src="{% static 'lib/isotope/dist/isotope.pkgd.js'%}"></script>
    <script src="{% static 'lib/imagesloaded/imagesloaded.pk'%}gd.js"></script>
    <script src="{% static 'lib/flexslider/jquery.flexslider.js'%}"></script>
    <script src="{% static 'lib/owl.carousel/dist/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/smoothscroll.js'%}"></script>
    <script src="{% static 'lib/magnific-popup/dist/jquery.magnific-popup.js'%}"></script>
    <script src="{% static 'lib/simple-text-rotator/jquery.simple-text-rotator.min.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>