{% extends "weevils/base1.html" %}
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block base %}


   {% include "weevils/navbar.html" %}

{% if user.is_authenticated %}
<section class="home-section home-parallax home-fade home-full-height bg-dark-30 w-100 h-100" style="background-attachment:fixed; object-fit: cover;" id="home" data-background="{% static 'img/smack3.jpeg' %}">
    
        {% if user.profile.is_seconded or user.is_staff %}

            {# Display a list of available sections of the app in card format, with links to those sections?#}
            <div class="container-fluid p-2">
                <div class="row d-flex flex-row justify-content-evenly w-100">
                    
                     <div class="cardi col-6 col-md-6">
                        
                        <img  src="https://img.icons8.com/3d-fluency/94/roulette.png" alt="roulette"/>
                        <div class="card__label">Trivia</div>
                        
                        <div class="card__content">
                           <p class="card__title">Trivia & Games</p>
                           <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                     </div>
                     <div class="cardi col-6 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#142f5c" d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l58.3 97c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152z"/></svg>
                        <div class="card__label">Mentorship</div>
                        <div class="card__content">
                           <a href="{% url 'mentorship:landing' %}" style="text-decoration: none;">
                              <p class="card__title">Mentorship</p>
                           <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                           </a>
                        </div>
                     </div>
                     <div class="cardi col-6 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#133267" d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
                        <div class="card__label">Ideation Hub</div>
                        <div class="card__content">
                           <p class="card__title">Ideation Hub</p>
                           <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                     </div>

                </div>
                <div class="events" style="background-color: transparent;">
                    <div class="options">
                        <div class="option active" style="--optionBackground:url('{% static 'img/events.jpg' %}'); background-repeat: no-repeat;">
                           <div class="shadow"></div>
                           <div class="label">
                              <div class="icon">
                                 <i class="fa-solid fa-music"></i>
                              </div>
                              <div class="info">
                                <div >Cohort</div>
                                <div class="sub">Smack League</div>
                              </div>
                           </div>
                        </div>
                        <div class="option" style="--optionBackground:url('{% static 'img/events1.jpg' %}');">
                           <div class="shadow"></div>
                           <div class="label">
                              <div class="icon">
                                 <i class="fas fa-fire"></i>
                              </div>
                              <div class="info">
                                <div>Cohort</div>
                                <div class="sub">Cook-a-thon</div>
                              </div>
                           </div>
                        </div>
                        <div class="option" style="--optionBackground:url('{% static 'img/events2.jpg' %}');">
                           <div class="shadow"></div>
                           <div class="label">
                              <div class="icon">
                                 <i class="fas fa-car"></i>
                              </div>
                              <div class="info">
                                <div>Cohort</div>
                                <div class="sub">Trophy Tour</div>
                              </div>
                           </div>
                        </div>
                        <div class="option" style="--optionBackground:url('{% static 'img/events4.jpg' %}');">
                           <div class="shadow"></div>
                           <div class="label">
                              <div class="icon">
                                 <i class="fa-solid fa-music"></i>
                              </div>
                              <div class="info">
                                <div>Cohort</div>
                                <div class="sub">Event Name</div>
                              </div>
                           </div>
                        </div>
                        <div class="option" style="--optionBackground:url('{% static 'img/events5.jpg' %}');">
                           <div class="shadow"></div>
                           <div class="label">
                              <div class="icon">
                                 <i class="fas fa-sun"></i>
                              </div>
                              <div class="info">
                                 <div >Cohort</div>
                                 <div class="sub">Event Name</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                </div>
               <div class="row d-flex flex-row justify-content-evenly">
                     <div class="cardi col-6 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#273f68" d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
                        <div class="card__label">Social Joint</div>
                        <div class="card__content">
                        <p class="card__title">Social Joint</p>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                     </div>
                     <div class="cardi col-6 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#183972" d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"/></svg>
                        <div class="card__label">Virtual Store</div>
                        <div class="card__content">
                        <p class="card__title">Virtual Stores</p>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                     </div>
                     <div class="cardi col-6 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#152f5b" d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg>
                        <div class="card__label">Weevil Grid</div>
                        <div class="card__content">
                        <p class="card__title">Weevil Grid</p>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                     </div>
                   
                   
               </div>
            </div>
            
        {% endif %}
    
   
   </section>
   {% else %}
   {% include 'weevils/nothing-page.html' %}
   {% endif %}
{% endblock %}

   
     
    
