<header class="site-navbar " role="banner" style="height: 70px;">
    <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          
            <ul class="nav navbar-nav navbar-right d-flex flex-row">
              <li><a class="navbar-brand" href="{% url 'weevils:home' %}">Weevil</a></li>
                <li><a href="{% url 'weevils:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'users:user-profile' %}">Profile</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'users:cohort_members' %}">Cohort</a></li>
                {% endif %}
                {% else %}
                <li><a href="{% url 'users:login' %}">Login</a></li>
                <li><a href="{% url 'users:register' %}">Register</a></li>
                {% endif %}
              
            </ul>
        </div>
      </nav>
</header>