{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1752YPLP7H"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1752YPLP7H");
    </script>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
  </head>

  <body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
      {% if user.is_authenticated == 'False' %}
      <h2 class="display-6">Your account is pending <center>verification.</center></h2>
      {% else %}
      <h2 class="display-6">You are not logged in</h2>
      {% endif %}
      
      <img id="astronaut" src="{% static 'img/astronaut.svg' %}" alt="pictures" />
      <img id="planet" src="{% static 'img/planet.svg' %}" alt="pictures" />
      <a href="{% url 'users:login' %}"><button class="denied__link">Login</button></a>
    </div>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"
    ></script>
    <script type="text/javascript" src="{% static 'js/404.js' %}"></script>
  </body>
</html>